* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: blue;
}

a:visited {
    color: blue;
}

li {
    list-style: none;
}

li span,
li a {
    font-size: 1.1em;
}